body {
    margin: 0;
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
}

#logo {
    width: 10%;
    height: 10%;
    margin: 10px; 
}

header {
    background-color: black;
    color: orangered;
    padding-bottom: 20px;
}

#title {
    display: inline;
    font-size: 100px;
    font-family: "Hanalei Fill", system-ui;
    font-weight: 400;
    font-style: normal;
}

#links li {
    display: inline;
    padding: 15px;
    border-right: 2px solid black;
}

#links li:hover {
    background-color: gold;
}

#links a {
    color: black;
    text-decoration: none;

}

nav {
    background-color: yellow;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

section {
    padding: 30px;
}

table, th, td {
    border-collapse: collapse;
    border: 2px dotted black;
    padding: 30px;
}

th {
    background-color: brown;
    color: white;
}

td {
    text-align: center;
}

.characterImg {
    width: 200px;
    height: 185px;
    border-radius: 10px;
}

img:hover {
    transform: scale(1);
}

dt {
    text-decoration-line: underline;
    padding-top: 5px;
    padding-bottom: 5px;
}

dd {
    padding-bottom: 5px;
}