body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    padding: 20px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #0077cc;
    color: white;
}
